<div class="flex flex-col h-10 items-stretch gap-5 ml-9 mr-5 w-[15%]">
  <select name="seletMake" id="selectMake" class="bg-slate-200 p-2 rounded-lg">
    <option value="selectMake">Select Make</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
  </select>
  <select
    name="selectModel"
    id="selectModel"
    class="bg-slate-200 p-2 rounded-lg"
  >
    <option value="selectModel">Select Model</option>
    <option value="BMW">BMW</option>
    <option value="Hyundai">Hyundai</option>
    <option value="Audi">Audi</option>
    <option value="Bentley">Bentley</option>
  </select>
  <button
    class="bg-slate-600 text-white rounded-2xl py-1 cursor-pointer"
  >Search</button>
  <div class="border border-gray-400 h-1 w-[100%]">
  </div>
  <button class="bg-slate-600 text-white rounded-2xl py-1 cursor-pointer">Create
    Review</button>

</div>