<div
  class="bg-white shadow-lg mt-20 self-center rounded-lg flex flex-col justify-center p-16 gap-5"
>
  <input
    class="bg-slate-200 border rounded-lg p-2 mb-4 outline-none focus:border-b-black transition-[0.5s]"
    placeholder="User name"
    type="text"
  />
  <input
    class="bg-slate-200 border rounded-lg p-2 mb-4 outline-none focus:border-b-black transition-[0.5s]"
    placeholder="Password"
    type="text"
  />
  <button
    class="bg-gray-600 text-white rounded-lg p-2 hover:bg-green-400"
  >Login</button>
  <p>No account?
    <button class="text-blue-500 hover:text-blue-800">Create Account</button></p>
</div>