<section>
<div class="flex flex-row justify-between w-[60%]">
      <select
        name="seletMake"
        id="selectMake"
        class="bg-slate-200 p-2 rounded-lg"
      >
        <option value="selectMake">Select Make</option>
        <option value="BMW">BMW</option>
        <option value="Hyundai">Hyundai</option>
        <option value="Audi">Audi</option>
        <option value="Bentley">Bentley</option>
      </select>
      <select
        name="seletMake"
        id="selectMake"
        class="bg-slate-200 p-2 rounded-lg"
      >
        <option value="selectMake">Select Model</option>
        <option value="X5">X5</option>
        <option value="Accent">Accent</option>
        <option value="A4">A4</option>
        <option value="Bentley">Bentley</option>
      </select>
      <select
        name="seletMake"
        id="selectMake"
        class="bg-slate-200 p-2 rounded-lg"
      >
        <option value="selectMake">Select Year</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
      </select>
    </div>

    <div class=" flex flex-col w-[60%] mt-8 gap-6">
        <textarea placeholder="review your interior" name="interiorReview" id="" cols="20" rows="5" class="border font-bold text-2xl border-black text-center"></textarea>
        <textarea placeholder="review your exterior" name="exteriorReview" id="" cols="20" rows="5" class="border font-bold text-2xl border-black text-center"></textarea>
      <button class="self-center bg-slate-600 text-white rounded-2xl py-1 cursor-pointer w-[40%]">Submit review</button>
    </div>



</section>