<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Revved Up Reviews</title>
    <link rel="stylesheet" href="/css/style.css" /> 
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-[#f5f3f3]">
    <div class="flex-col flex justify-around">

      <nav
        class="text-center flex flex-row justify-between px-10 py-8 text-white bg-slate-600 mb-5 text-lg font-bold"
      >
        <h1 class="text-white items-start navTitle">
          <img src="/assets/images/logo.jpg" class="flex flex-row items-start w-16 h-16" alt="Revved Up Reviews Logo">
          <a href="/">Revved Up Reviews!!</a>
        </h1>

       
        {{! <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button> }}
        <div class="" id="navbarSupportedContent">
          <ul class="flex flex-row gap-4">
            <li class="">
              <a
                class="px-6 py-1 rounded-lg"
                aria-current="page"
                href="/"
              >Home</a>
            </li>
            {{#if logged_in}}

              <li class="">
                <a
                  class="hover:bg-[#2adc53] active:bg-[#BD4F6C] px-6 py-1 rounded-lg"
                  href="/dashboard"
                >Dashboard</a>
              </li>

              <li class="">
                <a
                  class="hover:bg-[#2adc53] hover:cursor-pointer active:bg-[#BD4F6C] px-6 py-1 rounded-lg"
                  id="logout"
                >Logout</a>
              </li>

            {{else}}
              <li class="">
                <a
                  class="px-6 py-1 rounded-lg"
                  href="/login"
                >Login</a>
              </li>

              <li class="">
                <a
                  class="px-6 py-1 rounded-lg"
                  href="/signUp"
                >Sign Up</a>
              </li>
            {{/if}}

          </ul>
        </div>
      </nav>


      <main class="flex flex-col ">
        {{{body}}}
      </main>
      <footer>
      </footer>
    </div>


    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>