<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
   <script src="https://cdn.tailwindcss.com"></script>
</head>

  <body>
    <header>
      <h1>Revved Up Reviews</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/myreview">myreview</a>
      {{! '<a/>' with for test tag will not display in official version }}
      <a href="/review/1">review1/for test</a>
      <a href="/new-review">newreview/for test</a>
      <a href="/edit-review/1">edit-review1/for test</a>
      <a href="/search-result">search result page/for test</a>

      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <aside>
        <h2>Enjoy the galleries!</h2>
      </aside>
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>