<div class="row">
  <div class="col-auto">
    <h2><span></span>Welcome, {{username}}!<span></span></h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Car Review:</h3>

    <form class="new-carReview-form">
      <div class="form-group">
        <input
          class="form-input"
          type="text"
          id="carReview-title"
          name="carReview-title"
          placeholder="carReview Title"
        />
        <input
          class="form-input"
          type="text"
          id="make"
          name="carReview-make"
          placeholder="Car Make"
        />
        <input
          class="form-input"
          type="text"
          id="model"
          name="carReview-model"
          placeholder="Car Model"
        />
      </div>

      <div class="form-group">
        <textarea
          class="form-input"
          id="carReview-desc"
          name="carReview-desc"
          placeholder="carReview Content"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if carReviews.length}}

    <div class="col-md-6 carReview-list">
      <h3>Current Car Reviews:</h3>

      {{#each carReviews as |carReview|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a
                href="/carReview/{{carReview.id}}"
              >{{carReview.title}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-danger"
              data-id="{{carReview.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>