<section>
  <div
    class="flex flex-col justify-center items-center bg-[rgba(0,0,0,0.3)] border h-[30vh] border-emerald-600 tracking-[5px] text-[rgba(0,0,0,0.5)] font-bold text-4xl"
  >
    <p>HYUNDAI</p>
    <p>ACCENT</p>
    <p>2022</p>
  </div>
</section>